{% extends 'base.html' %}
{% block body_block %}
<table>
{% for dict in list_of_dicts|dictsort:"id" %}
    <tr><td>{{ forloop.counter }}</td><td>{{ dict.filename }}</td></tr>
{% empty %}
    <tr><td>No results to print.</td></tr>
{% endfor %}
</table>
{% endblock %}
{% block footer_after_body %}
{% spaceless %}
{% for foot in footer_list %}
    <!-- {{ foot }} -->
{% endfor %}
{% endspaceless %}
{% endblock %}
