<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
{% block meta_robots %}<meta name="robots" {{meta_robots_content|default:'content="noarchive,follow"'}} />{% endblock %}
    <title>local2 source search | {% block title %}{{title|default:"Untitled page"}}{% endblock %}</title>
{% block head_link_hrefs %}{% endblock %}
{% block head_styles %}{% endblock %}
  </head>
  <body>
{% block body_block %}
{% endblock %}
{% block markup_compliance %}
<p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10-blue"
        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</p>
{% endblock %}
  </body>
{% block footer_after_body %}
{% endblock %}
</html>
