{% extends 'base.html' %}
{% block body_block %}
<p>{{sourcecode|default:"#!/usr/bin/env python"}}</p>
<p>Linecount reported as: {{linecount}}</p>
<p>
{% for sourceline in sourcecode_as_lines %}
    {{ sourceline }}<br />
{% empty %}
    No source to print. Check Linecount reported above.
{% endfor %}
</p>
{% endblock %}
