{% if source_count > 0 %}
    <p>Source: {{ source_count }}.</p>
    <p>Def: {{ def_count }}.</p>
{% else %}
    <p>No source available.</p>
{% endif %}
{% spaceless %}
{% if localtime_frozen_string %}
    <p>{{ localtime_frozen_string }}</p>
    {% if localtime_frozen_source %}
        <p>{{ localtime_frozen_source }}</p>
    {% endif %}
{% endif %}
{% endspaceless %}
