{% extends 'base.html' %}
{% block head_styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}prettify14.css" type="text/css" />
{% endblock %}
{% block body_block %}
<p>{{sourcecode_pre|default:"#!/usr/bin/env python"}}</p>
<p>Linecount reported as: {{linecount}}</p>
<p>Defcount reported as: {{defcount}}</p>
{% for def in defs_all_sorted %}
    <pre>{{ def.def_signature_sourceline|rjust:"4" }} {{ def.def_name|escape }}</pre>
{% empty %}
    <p>No def to print. Check Defcount reported above.</p>
{% endfor %}
{% endblock %}
