.prettify .hll { background-color: #ffffcc }
.prettify  { background: #f8f8f8; }
.prettify .c { color: #408080; font-style: italic } /* Comment */
.prettify .err { border: 1px solid #FF0000 } /* Error */
.prettify .k { color: #008000; font-weight: bold } /* Keyword */
.prettify .o { color: #666666 } /* Operator */
.prettify .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.prettify .cp { color: #BC7A00 } /* Comment.Preproc */
.prettify .c1 { color: #408080; font-style: italic } /* Comment.Single */
.prettify .cs { color: #408080; font-style: italic } /* Comment.Special */
.prettify .gd { color: #A00000 } /* Generic.Deleted */
.prettify .ge { font-style: italic } /* Generic.Emph */
.prettify .gr { color: #FF0000 } /* Generic.Error */
.prettify .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.prettify .gi { color: #00A000 } /* Generic.Inserted */
.prettify .go { color: #808080 } /* Generic.Output */
.prettify .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.prettify .gs { font-weight: bold } /* Generic.Strong */
.prettify .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.prettify .gt { color: #0040D0 } /* Generic.Traceback */
.prettify .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.prettify .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.prettify .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.prettify .kp { color: #008000 } /* Keyword.Pseudo */
.prettify .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.prettify .kt { color: #B00040 } /* Keyword.Type */
.prettify .m { color: #666666 } /* Literal.Number */
.prettify .s { color: #BA2121 } /* Literal.String */
.prettify .na { color: #7D9029 } /* Name.Attribute */
.prettify .nb { color: #008000 } /* Name.Builtin */
.prettify .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.prettify .no { color: #880000 } /* Name.Constant */
.prettify .nd { color: #AA22FF } /* Name.Decorator */
.prettify .ni { color: #999999; font-weight: bold } /* Name.Entity */
.prettify .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.prettify .nf { color: #0000FF } /* Name.Function */
.prettify .nl { color: #A0A000 } /* Name.Label */
.prettify .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.prettify .nt { color: #008000; font-weight: bold } /* Name.Tag */
.prettify .nv { color: #19177C } /* Name.Variable */
.prettify .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.prettify .w { color: #bbbbbb } /* Text.Whitespace */
.prettify .mf { color: #666666 } /* Literal.Number.Float */
.prettify .mh { color: #666666 } /* Literal.Number.Hex */
.prettify .mi { color: #666666 } /* Literal.Number.Integer */
.prettify .mo { color: #666666 } /* Literal.Number.Oct */
.prettify .sb { color: #BA2121 } /* Literal.String.Backtick */
.prettify .sc { color: #BA2121 } /* Literal.String.Char */
.prettify .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.prettify .s2 { color: #BA2121 } /* Literal.String.Double */
.prettify .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.prettify .sh { color: #BA2121 } /* Literal.String.Heredoc */
.prettify .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.prettify .sx { color: #008000 } /* Literal.String.Other */
.prettify .sr { color: #BB6688 } /* Literal.String.Regex */
.prettify .s1 { color: #BA2121 } /* Literal.String.Single */
.prettify .ss { color: #19177C } /* Literal.String.Symbol */
.prettify .bp { color: #008000 } /* Name.Builtin.Pseudo */
.prettify .vc { color: #19177C } /* Name.Variable.Class */
.prettify .vg { color: #19177C } /* Name.Variable.Global */
.prettify .vi { color: #19177C } /* Name.Variable.Instance */
.prettify .il { color: #666666 } /* Literal.Number.Integer.Long */
